/*----------FOR THE POPUP COMPONENT---------*/

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-inner {
    position: relative;
    padding: 1.2rem;
    height: 60vh;
    width: 80%;
    max-width: 40rem;
    background-color: white;
    margin-top: 16rem;
    border-radius: .625rem;
  }

  .btn.btn-primary {
    background-color: cyan;
    padding: .25rem;
    position: absolute;
    display: block;
    top: .5rem;
    right: .5rem;
    margin-top: -1rem;
    border-radius: .625rem;
  }