@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.treaty-rules-wrapper {
    background-color: white;
    font-family: "Lato", sans-serif;
    padding: 0.5rem;
}

.treaty-chart-btn {
    background-color: cyan;
    color: magenta;
    padding: .25rem;
    border-radius: .625rem;
}
.text-center {
    text-align: center;
}

.rule {
    border: none;
}

.text-center-bold {
    font-weight: bold;
    text-align: center;
    background-color: blue;
    color: white;
    padding: .25rem 0;
    border-radius: .625rem;
}

.section-color {
    background-color: lightblue;
    color: blue;
    border-radius: .625rem;
}

.selection-color {
    background-color: beige;
}

.points-setting-color {
    background-color: lightyellow;
}

.nukes-setting-color {
    background-color: gray;
    color: rgb(6, 70, 115);
    border-radius: .625rem;
}
.indent {
    margin-left: .5rem;
}

.padding-top {
    padding-top: 1rem;
}

.padding-bottom {
    padding-bottom: 1rem;
}

.divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
    clear: right;
  }

.bold {
    font-weight: bold;
    text-align: center;
}

.bold.divider {
    text-align: left;
    margin-right: 18rem;
}